.Example {
    color: red;
}

.Example__button {
    color: green;
}

.Example__button--variable {
    color: blue;
}

.Example__button--variable--base {
    color: black;
}

.Exmaple__button--pink {
    color: pink;
}

.Exmaple__button--violet {
    color: violet;
}
